<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <h1 th:text="${'Welcome, ' + user.username + '!'}"></h1>
    <a th:href="@{/}">Select Services</a>

    <p th:unless="${users} and ${users.size()}">No users!</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Username</th>
        </tr>
        </thead>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td><a th:href="@{/user/{id}(id=${user.id})}">User Info</a></td>
        </tr>
    </table>
</body>
</html>